{% extends "base.html" %}
{% load bootstrap4 %}
{% block  myblock %}



         <!-- {{form}} -->
<center>
<div class ="col-md-4 mx-auto">               
        <h1 style="color:rgb(48, 2, 38); font-family:verdana;
        background-color:rgb(247, 174, 216);">Demography Details</h1>
</div>
</center>            

<script>
        function Hide() {
            if(document.getElementById('id_Room').options[document.getElementById('id_Room').selectedIndex].value) {
                 
                 document.getElementById('id_Room_Type').disabled = false;
            }
            else if (! document.getElementById('id_Room').options[document.getElementById('id_Room').selectedIndex].value){
                
                document.getElementById('id_Room_Type').disabled = true;
            }
         

         else {
                //  document.getElementById('id_list1').style.display = '';
                //  document.getElementById('id_list2').style.display = 'none';
            }
        }
            function MemberHide() {
         if(document.getElementById('id_Category').options[document.getElementById('id_Category').selectedIndex].value == "A" |
         document.getElementById('id_Category').options[document.getElementById('id_Category').selectedIndex].value == "O") {
                document.getElementById('id_Staff_Institution_Emp_ID').disabled = true;
                document.getElementById('id_Institution_Name').disabled = true;
                document.getElementById('id_Sub_Division_Name').disabled = true;
                document.getElementById('id_Staff_Working_Since').disabled = true;
         }

        

         else {
                document.getElementById('id_Staff_Institution_Emp_ID').disabled = false;
                document.getElementById('id_Institution_Name').disabled = false;
                document.getElementById('id_Sub_Division_Name').disabled = false;
                document.getElementById('id_Staff_Working_Since').disabled = false;
                //  document.getElementById('id_list1').style.display = '';
                //  document.getElementById('id_list2').style.display = 'none';
            }
        }

        function Whatsapp() {

if(document.getElementById('id_Whatsapp_Choice').options[document.getElementById('id_Whatsapp_Choice').selectedIndex].value == "yes") {
             document.getElementById('id_Whatsapp').disabled = true;
        }


else {
    document.getElementById('id_Whatsapp').disabled = false;
    //  document.getElementById('id_list1').style.display = '';
        //  document.getElementById('id_list2').style.display = 'none';
    }
}

        
        
        window.onload = function() {
            document.getElementById('id_Category').onchange = MemberHide;
            document.getElementById('id_Room').onchange = Hide;
            document.getElementById('id_Whatsapp_Choice').onchange = Whatsapp;
            
            
        };
</script>

<!-- <div class="bg-img" style="background-image: url('/media/stupa-left-u2295.png');
height:100vh"> -->
<div class="container">
        <div class="row">
                <div style="background-color:rgb(240, 216, 234); " class ="col-md-6 mx-auto">
                        
                                <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        

                                        {% bootstrap_form form %}
                                        
                                        <!-- {{form.as_table}} -->
                                        <!-- <hr> -->
                                        <p><input type="submit" value="Save Details" class="btn btn-primary"></p>
                                        <!-- </hr> -->
                                        
                                       

                                        

                                </form>
                        
                </div>
        </div>
</div>
<!-- </div> -->


{% if status %}
        <script>
                alert("{{status}}")
        </script>
{% endif %}

{% if errorStatus %}
        <script>
                alert("{{errorStatus}}")
        </script>
{% endif %}



{% endblock %}
