{% extends "base.html" %}
{% load bootstrap4 %}
{% block  myblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>

        #id_Vehicle_No{
           padding:5px;
           width:100%;
        }

</style>

         <!-- {{form}} -->
         <center>
                <br>
                <div class ="col-md-4 mx-auto">               
                        <h4 style="color:rgb(48, 2, 38); font-family:sans-serif;
                        background-color:rgb(247, 174, 216);">Temporary Vehicle Movement</h4>
                </div>
                </center>           



<div class="container">
        <div class="row">
                <div style="background-color:rgb(240, 216, 234); " class ="col-md-6 mx-auto">
                
                        
                                <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        <!-- Room Field -->
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">{{temp_vehicle_tr_form.Vehicle_No.label}}</label>
                                                
                                                {{temp_vehicle_tr_form.Vehicle_No}}

                                                {{temp_vehicle_tr_form.In_Out}}

                                        </div>

                                        <div>
                                                <input id="id_go" type="button" value="Get Details" class="btn btn-info">
                                                <input id="id_reset" type="reset" value="Reset" class="btn btn-warning">
                                                </div>
        
                                                <br>
                                                </br>
        
                                                <div id="id_Vehicle_Num">
                                                </div>


                                                <div id="id_Name">
                                                </div>

                                                <div id="id_Veh_Type">
                                                </div>
        
                                                <div id="id_Reference_Person">
                                                </div>

                                                <div id="id_Day_in">
                                                </div>


                                                <div id="id_Day_out">
                                                </div>

                                                

                                                
        
                                                        
                                                
                                                
                                                <br>
                                                </br>
                                        <div class="container">
                                                <div class="center">
                                        <input id="id_submit" type="submit" value="Submit" class="btn btn-success">
                                        <!-- <input type="submit" value="Out" class="btn btn-danger"> -->
                                        </div>
                                </div>
                        </div>
                                        <!-- </hr> -->
                                        
                                       

                                        

                                </form>
                        
                </div>
        </div>
</div>


<script>
$(document).ready(function() { 
        $('#id_submit').hide(); 
        $('#id_Vehicle_No').val(''); 
        $('#id_In_Out').hide(); 
}); 


$("#id_go").click(function () { 

       console.log("change")

       const url='{% url "temp_vehicle_transaction" %}'
       const Vehicle_No=$("#id_Vehicle_No").val();
      
       $.ajax({
           url: url,                    
           data: {
               'Vehicle_No': Vehicle_No
           },
           success: function (data) {   
                
                let veh_num_data = '<option value=""></option>';
                veh_num_data='<b>Vehicle No.</b>';
                veh_num_data+='&emsp; &emsp; &emsp; &emsp; '
                veh_num_data+=data.num;                                             
                
                // let mobile_data = '<option value=""></option>';
                // mobile_data='<b>Mobile No.</b>';
                // mobile_data+='&emsp; &emsp; &emsp; &emsp; &emsp; &nbsp;'
                // mobile_data+=data.mobile;     
                
                let name_data = '<option value=""></option>';
                name_data='<b>Name</b>';
                name_data+='&emsp; &emsp; &emsp; &nbsp; &nbsp; &emsp; &emsp; '
                name_data+=data.name;
                
                let veh_type = '<option value=""></option>';
                veh_type='<b>Vehicle Type</b>';
                veh_type+='&emsp; &emsp; &emsp; &nbsp; &nbsp;' 
                veh_type+=data.v_veh_type; 
        

                let ref_person = '<option value=""></option>';
                ref_person='<b>Reference Person</b>';
                ref_person+='&emsp; &emsp; '
                ref_person+=data.v_ref_name; 

                let date_in = '<option value=""></option>';
                date_in='<b>Date In</b>';
                date_in+='&emsp; &emsp; &emsp; &emsp; &nbsp; &emsp; &nbsp;'
                date_in+=data.date_in; 

                let date_out = '<option value=""></option>';
                date_out='<b>Date Out</b>';
                date_out+='&emsp; &emsp; &emsp; &emsp; &emsp;'
                date_out+=data.date_out; 

                
                $("#id_Vehicle_Num").html(veh_num_data);                      
                $("#id_Name").html(name_data); 
                // $("#id_Mobile").html(mobile_data);
                $("#id_Veh_Type").html(veh_type); 
                $("#id_Reference_Person").html(ref_person); 
                $("#id_Day_in").html(date_in); 
                $("#id_Day_out").html(date_out); 
                $("#id_In_Out").val(data.in_out)
                

                // $("#id_go").hide();
                $("#id_submit").show();
                
                
           
           }
       });

    });
     </script>


<!-- <script>
        $("#id_Sticker_Number").change(function () { 
       
               console.log("change")
       
               const url='{% url "vehicle_transaction" %}'
               const Sticker_Number=$(this).val();
        //        const Room=$("#id_Room").val();
       
               $.ajax({                       // initialize an AJAX request
                   url: url,                    // set the url of the request (= /vehicle/ )
                   data: {
                       'Sticker_Number': Sticker_Number
                //        ,
                        // 'Room':Room      // add Room  to the GET parameters
                   },
                   success: function (data) {   
                       
                       //$("#id_city").html(data); 
       
       
                        let html_data = '<option value=""></option>';
                        html_data='<label>Vehicle</label>';
                        html_data +='<select name="Vehicle_No" class="form-control">'
                        data.forEach(function (name) {
                            
                            html_data += `<option name="Vehicle_No">${name}</option>`
                           
                        });
                        html_data +='</select>'
                        
                        $("#id_vehicle").html(html_data);
       
                   
                   }
               });
       
       
       
       
       
            });
           
       
       
       
       
        
             </script> -->

{% if status %}
        <script>
                alert("{{status}}")
        </script>
{% endif %}

{% if errorStatus %}
        <script>
                alert("{{errorStatus}}")
        </script>
{% endif %}



{% endblock %}
