{% extends "base.html" %}
{% load bootstrap4 %}
{% block  myblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>

        #id_Maid_ID{
           padding:5px;
           width:100%;
        }

        /* #id_Maid,#id_Room{
                display:inline;
        } */

        
</style>

         <!-- {{form}} -->
 <center>
                <br>
                <div class ="col-md-4 mx-auto">               
                        <h4 style="color:rgb(48, 2, 38); font-family:sans-serif;
                        background-color:rgb(247, 174, 216);">Maids Movement</h4>
                </div>
                </center>            



<div class="container">
        <div class="row">
                <div style="background-color:rgb(240, 216, 234); " class ="col-md-6 mx-auto">
                
                        
                                <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        <!-- Room Field -->
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">{{maid_tr_form.Maid_ID.label}}</label>
                                                {{maid_tr_form.Maid_ID}}
                                                {{maid_tr_form.In_Out}}
                                                
                                        </div>

                                        <div>
                                        <input id="id_go" type="button" value="Get Details" class="btn btn-info">
                                        <input id="id_reset" type="reset" value="Reset" class="btn btn-warning">
                                        </div>

                                        <br>
                                        </br>
                                        
                                        <div id="id_Maid">
                                        </div>

                                        <div id="id_Room">
                                        </div>

                                        <!-- <div id="id_Maid_Mobile">
                                        </div> -->

                                        <div id="id_Maid_Night_Duty">
                                        </div>

                                        <div id="id_Maid_Validity">
                                        </div>

                                        <div id="id_Maid_Photo">
                                        </div>

                                        <div id="id_in_out">
                                        </div>
                                        
                                        <br>
                                        </br>
                                        
                                        
                                        <!-- {{form.as_table}} -->
                                        <!-- <hr> -->
                                        <div class="container">
                                                <div class="center">
                                        <input id="id_submit" type="submit" value="Submit" class="btn btn-success">
                                        <!-- <input type="submit" value="Out" class="btn btn-danger"> -->
                                        </div>
                                </div>
                        </div>
                                        <!-- </hr> -->
                                        
                                       

                                        

                                </form>
                        
                </div>
        </div>
</div>

<script>

        $(document).ready(function() { 
                $('#id_submit').hide(); 
                $('#id_In_Out').hide(); 
                $('#id_Maid_ID').val(''); 
        }); 

        
        $("#id_go").click(function () { 
       
               console.log("change")
       
               const url='{% url "maid_transaction" %}'
               const Maid_ID=$("#id_Maid_ID").val();
              
               $.ajax({
                   url: url,                    
                   data: {
                       'Maid_ID': Maid_ID
                   },
                   success: function (data) {   
                        
                        let name_data = '<option value=""></option>';
                        name_data='<b>Name</b>';
                        name_data+='&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &nbsp;'
                        name_data+=data.name;                                             
                        
                        // let mobile_data = '<option value=""></option>';
                        // mobile_data='<b>Mobile No.</b>';
                        // mobile_data+='&emsp; &emsp; &emsp; &emsp; &emsp; &nbsp;'
                        // mobile_data+=data.mobile;    
                        
                        let night_duty_data = '<option value=""></option>';
                        night_duty_data='<b>Night Duty Permitted?</b>';
                        night_duty_data+='&emsp; '
                        night_duty_data+=data.night_duty;
                        
                        
                        let var_photo_file='';
                        var_photo_file+='/media/';
                        var_photo_file+=data.photo;
                        
                        let maid_photo = '<option value=""></option>';
                        maid_photo='<b>Photo</b>';
                        maid_photo+='&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;';
                        maid_photo+='<img src=';
                        maid_photo+=var_photo_file;
                        maid_photo+='/>'

                        let validity_data = '<option value=""></option>';
                        validity_data='<b>Valid upto</b>';
                        validity_data+='&emsp; &emsp; &emsp; &emsp; &emsp; &nbsp; &nbsp;'
                        validity_data+=data.validity;

                        let room_data = '<option value=""></option>';
                        room_data='<b>Rooms Working in</b>';
                        room_data+='&emsp; &emsp; &nbsp; &nbsp;'
                        room_data+=data.room;
                        
                        
                                               
                        $("#id_Maid").html(name_data);
                        // $("#id_Maid_Mobile").html(mobile_data);
                        $("#id_Maid_Night_Duty").html(night_duty_data);
                        $("#id_Maid_Photo").html(maid_photo);
                        $("#id_Maid_Validity").html(validity_data);
                        $("#id_Room").html(room_data);
                        $("#id_In_Out").val(data.in_out)

                        // $("#id_go").hide();
                        $("#id_submit").show();
                        
                        
                   
                   }
               });
       
       
       
       
       
            });
           
       
       
       
       
        
             </script>

{% if status %}
        <script>
                alert("{{status}}")
        </script>
{% endif %}

{% if errorStatus %}
        <script>
                alert("{{errorStatus}}")
        </script>
{% endif %}



{% endblock %}
